
@{
    ViewBag.Title = "Create item";
    @Styles.Render("~/Content/text.css");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Creating new entry</h2>
        @{
            var item = new CarsStok.Models.RentalHistory();
        }
        @using (Html.BeginForm("Insert", "Creating"))
        {
            <b>Client name  </b><br /> @Html.TextBox("Data", "Enter name") <br />
            <b>Cars model   </b><br /> @Html.TextBox("Data", "Enter model") <br />
            <b>Rental period</b><br /> @Html.TextBox("Data", "Enter period") <br />
            <input type="submit" value="Insert" />
        }


